<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о ребенке</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Информация о ребенке</h2>
    <p><strong>ID:</strong> <span th:text="${child.get().getChild_id()}"></span></p>
    <p><strong>Имя:</strong> <span th:text="${child.get().getName()}"></span></p>
    <p><strong>Имя родителя:</strong>
        <span th:if="${child.get().getPerson() != null}" th:text="${child.get().getPerson().getFullName()}"></span>
        <span th:if="${child.get().getPerson() == null}">Не установлено</span>
    </p>
    <p><strong>Дата рождения:</strong> <span th:text="${#dates.format(child.get().getBirthDate(), 'yyyy/MM/dd')}"></span></p>
    <a th:href="@{/child}" class="btn btn-secondary">Назад к списку</a>
</div>
</body>
</html>