<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список людей</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Список людей</h2>
    <a th:href="@{/person/new}" class="btn btn-primary mb-3">Добавить нового человека</a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Полное имя</th>
            <th>Место жительства</th>
            <th>Дата рождения</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${peoples}">
            <td th:text="${person.getPerson_id()}"></td>
            <td th:text="${person.getFullName()}"></td>
            <td th:text="${person.getPlaceLive()}"></td>
            <td th:text="${#dates.format(person.getAge(), 'yyyy/MM/dd')}"></td>
            <td>
                <a th:href="@{/person/{id}(id=${person.getPerson_id()})}" class="btn btn-info">Просмотреть</a>
                <a th:href="@{/person/{id}/edit(id=${person.getPerson_id()})}" class="btn btn-warning">Редактировать</a>
                <form th:action="@{/person/{id}(id=${person.getPerson_id()})}" method="post" style="display:inline;">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>