<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить нового человека</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Добавить нового человека</h2>
    <form th:action="@{/person}" th:object="${newPerson}" th:method="POST">
        <div class="form-group">
            <label for="fullName">Полное имя:</label>
            <input type="text" id="fullName" class="form-control" th:field="*{fullName}" required>
        </div>
        <div class="form-group">
            <label for="placeLive">Место жительства:</label>
            <input type="text" id="placeLive" class="form-control" th:field="*{placeLive}" required>
        </div>
        <div class="form-group">
            <label for="birthDate">Дата рождения:</label>
            <input type="date" id="birthDate" class="form-control" th:field="*{age}" required>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a th:href="@{/person}" class="btn btn-secondary">Отмена</a>
    </form>
    <div th:if="${#fields.hasErrors()}">
        <div class="alert alert-danger" role="alert">
            <p th:each="error : ${#fields.errors('newPerson')}" th:text="${error}"></p>
        </div>
    </div>
</div>
</body>
</html>